@model Persona5Mvc.Models.Confidant

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Arcana);
}
<div>
    <h2>@Html.DisplayFor(model => model.Arcana)</h2>
    <p>
        @Html.ActionLink("All Confidants", "Index")
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfDayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfDayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>

<hr />
<h3>Ranks</h3>
@foreach (var rank in Model.Ranks.OrderBy(o => o.Level))
{
    <p>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(modelRank => rank.Level)
            </dt>

            <dd>
                @Html.DisplayFor(modelRank => rank.Level)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelRank => rank.PerkName)
            </dt>

            <dd>
                @Html.DisplayFor(modelRank => rank.PerkName) - @Html.DisplayFor(modelRank => rank.PerkDescription)
            </dd>

            <dd>
                @Html.ActionLink("Details", "Details", "ConfidantRanks", new { id = rank.ID }, null)
            </dd>

        </dl>
    </p>
}
