@model IEnumerable<Persona5Mvc.Models.Confidant>

@{
    ViewBag.Title = "P5 Confidants";
}

<h2>Confidants</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arcana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaysAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfDayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arcana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDayAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
