@model Persona5Mvc.Models.ConfidantRank

@{
    ViewBag.Title = "Rank Details";
}

<h2>Rank Details</h2>
<div>
    <h4>Rank @Html.DisplayFor(model => model.Level)</h4>
    <hr />
    <span>@Html.ActionLink("Back to arcana", "Details", "Confidants", new { id = Model.ConfidantID }, null)</span>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerkDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerkDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsToLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsToLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>

    @foreach (var dialogue in Model.Dialogues.OrderBy(o => o.DialogueOrder))
    {
        <h4>Response @Html.DisplayFor(d => dialogue.DialogueOrder)</h4>
        foreach (var dOption in dialogue.Options)
        {
            <dl class="dl-horizontal">
                <dt>@Html.DisplayFor(dO => dOption.PointsGiven)</dt>
                <dd>@Html.DisplayFor(dO => dOption.OptionText)</dd>
            </dl>
        }
    }
</div>
